npm-debug.log
node_modules
.project
.vscode
.history
.DS_Store
\.settings/
src/config/env.js
dist
.idea/jsLibraryMappings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
myIviewTemAdm.iml
.idea/codeStyleSettings.xml
